@mixin get-theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  $success: map-get($theme, success);
  $error: map-get($theme, error);
  $info: map-get($theme, info);
  $warn: map-get($theme, warning);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  .button {
    &--primary {
      background-color: map-get($primary, darker);
      .button-span {
        color: map-get($primary, text);
      }
    }
    &--secondary {
      background-color: map-get($secondary, darker);
      .button-span {
        color: map-get($secondary, text);
      }
    }
    &--success {
      background-color: map-get($success, darker);
      .button-span {
        color: map-get($success, text);
      }
    }
    &--danger {
      background-color: map-get($error, darker);
      .button-span {
        color: map-get($error, text);
      }
    }
    &--info {
      background-color: map-get($info, darker);
      .button-span {
        color: map-get($info, text);
      }
    }
    &--warning {
      background-color: map-get($warn, default);
      .button-span {
        color: map-get($warn, text);
      }
    }
    &.disabled {
      background-color: map-get($background, disabled);
      .button-span {
        color: map-get($foreground, disabled);
      }
    }
  }
}