<stepper>
  <step label="user">
    <form [formGroup]="form.firstStep">
      <form-field controlName="user">
        <label for="user">{{ 'pages.forgot-password.user' | translate }}</label>
        <input type="text" id="user" formControlName="user" [placeholder]="'pages.forgot-password.user' | translate">
      </form-field>
    </form>
  </step>
  <step label="code">
    <form [formGroup]="form.secondStep">
      <form-field controlName="code">
        <label for="code">{{ 'pages.forgot-password.code' | translate }}</label>
        <input type="text" id="code" formControlName="code" [placeholder]="'pages.forgot-password.code' | translate">
      </form-field>
    </form>
  </step>
  <step label="update">
    <form [formGroup]="form.thirdStep">
      <form-field controlName="password">
        <label for="password">{{ 'pages.forgot-password.password' | translate }}</label>
        <input type="text" id="password" formControlName="password" [placeholder]="'pages.forgot-password.password' | translate">
      </form-field>
      <form-field controlName="confirm-password">
        <label for="confirm-password">{{ 'pages.forgot-password.confirm-password' | translate }}</label>
        <input type="text" id="confirm-password" formControlName="confirm-password" [placeholder]="'pages.forgot-password.confirm-password' | translate">
      </form-field>
    </form>
  </step>
  <button custom-button (click)="checkNext()" [disabled]="loading()">{{ 'pages.forgot-password.submit' | translate }}</button>
</stepper>