:host {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 20px;
  ::ng-deep >input, >textarea {
    width: 100%;
  }
}

.error-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  color: red;
  p {
    margin: 0;
  }
}