@use '../typography';

input {
  padding: 14px 16px;
  border-radius: 6px;
  height: 21px;
  border: 1px solid #cccccc;
  background: white;
  color: #666666;
  @include typography.body_1;

  &::placeholder {
    color: #999999;
  }

  &:focus {
    border-color: #666666;
    outline: none;
  }

  &:disabled {
    border-color: #DDDDDD;
    background: #EEEEEE;
    ::placeholder {
      color: #AAAAAA;
    }
  }

  &.ng-touched {
    &.ng-invalid {
      border-color: #F92415;
    }
  }
}