:host {
  display: block;
  position: relative;
  height: 100%;
  width: 60px;
  &.open {
    width: fit-content;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-aside-icon {
  display: block;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

@mixin get-theme($theme) {
  $primary: map-get($theme, primary);
  $secondary: map-get($theme, secondary);
  .main-layout-aside {
    background: linear-gradient(map-get($primary, default), map-get($secondary, default));
  }
}
