:host {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
}

@mixin get-theme($theme) {
  $background: map-get($theme, background);
  .main-layout {
    background-color: map-get($background, base);
  }
}