@use '../../typography';

@mixin get-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $error: map-get($theme, error);
  $primary: map-get($theme, primary);
  input, textarea {
    height: 2.2rem;
    padding: .25rem 1rem;
    margin: 0;
    border-radius: .25rem;
    border: 1px solid map-get($background, hover);
    background: map-get($background, base);
    color: map-get($foreground, text);
    @include typography.body_1;
  
    &::placeholder {
      color: map-get($foreground, hint);
    }
  
    &:focus {
      border-color: map-get($background, active);
      outline: none;
    }
  
    &:disabled {
      border-color: map-get($foreground, disabled);
      background: map-get($background, disabled);
      ::placeholder {
        color: map-get($foreground, disabled);
      }
    }
  
    &.ng-touched {
      &.ng-invalid {
        border-color: map-get($error, default);
        color: map-get($error, default);
        &::placeholder {
          color: map-get($error, lighter);
        }
      }
    }
  }
}