@use '../../palettes/black' as black-palette;
@use '../../palettes/purple' as purple-palette;
@use '../../theme';

$light-theme: theme.define-light-theme((
  palettes: (
    primary: purple-palette.$palette,
    secondary: black-palette.$palette
  )
));

$dark-theme: theme.define-dark-theme((
  palettes: (
    primary: purple-palette.$palette,
    secondary: black-palette.$palette
  )
));