:host {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  width: 300px;
  display: flex;
  justify-content: space-between;

  .toast-message {
    font-size: 14px;
    line-height: 1.5;
    font-weight: bold;
  }

  .toast-close {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    margin-left: 5px;
    &:hover {
      opacity: 1;
    }
  }
}

@mixin get-theme($theme) {
  $success: map-get($theme, success);
  $danger: map-get($theme, error);
  $warn: map-get($theme, warning);
  $info: map-get($theme, info);
  .toast {
    &--success {
      background-color: map-get($success, lighter);
      color: map-get($success, darker);
    }
    &--danger {
      background-color: map-get($danger, lighter);
      color: map-get($danger, darker);
    }
    &--warn {
      background-color: map-get($warn, lighter);
      color: map-get($warn, darker);
    }
    &--info {
      background-color: map-get($info, lighter);
      color: map-get($info, darker);
    }
  }
}